<div class="page-wrapper">

  <div class="module-container">
    <h2>Task per {{ plantNickname }}</h2>

    <div *ngIf="loading">Caricamento in corso...</div>
    <div *ngIf="error" class="error">{{ error }}</div>

    <ul *ngIf="!loading && !error">
      <li *ngFor="let task of tasks">
        <div class="task-info">
          <span class="date">{{ task.scheduled_date | date:'dd MMMM yyyy'}}</span>
          <strong>{{ task.type_name | titlecase }}</strong>
          <span *ngIf="task.status_id === 3">
           completato
            <small class="material-icons" >check</small>
          </span>
          <span *ngIf="task.status_id === 2">    
            saltato        
            <small class="material-icons"  *ngIf="task.status_id === 2">close</small>
          </span>
          <span *ngIf="task.status_id === 1">
            in pending
            <small class="material-icons"  *ngIf="task.status_id === 1">hourglass_top</small>
          </span>
          <p *ngIf="task.notes">{{ task.notes }}</p>
        </div>

        <div class="task-actions" *ngIf="task.status_id === 1">
          <button (click)="completeTask(task.id)">
            <span class="material-icons">check</span>
          </button>
          <button (click)="skipTask(task.id)">
            <span class="material-icons">close</span>            
          </button>
        </div>
      </li>
    </ul>
  </div>

  <button class="fab" (click)="goToPlants()">
    <span class="material-icons">arrow_back</span>
  </button>

</div>
