<div class="page-wrapper">

  <!-- Lista piante -->
  <div class="module-container" [class.hidden]="selectedPlant">
    
      <h2>Le tue piante</h2>
      <button class="open-calendar-button" (click)="goToCalendar(0)" title="Calendario">
        <span class="material-icons">calendar_month</span>
      </button>
  

    <div *ngIf="loading">Caricamento in corso...</div>
    <div *ngIf="error" class="error">{{ error }}</div>

    <ul *ngIf="!loading && !error">
      <li *ngFor="let plant of plants; let i = index"
          [class.active]="i === selectedIndex"
          (click)="selectPlant(i)">
        <strong>{{ plant.nickname }}</strong>
        <span>({{ plant.species_name }})</span>
      </li>
    </ul>

    <button class="add-button" (click)="openAddPlantForm()">
      <span class="material-icons">add</span>
    </button>
  </div>

  <!-- Dettaglio pianta -->
  <div class="module-container" *ngIf="selectedPlant">
<div class="toolbar">
</div>

    <header>
      <h2>      
        <button (click)="toggleEdit()" >
          <span class="material-icons">{{ editMode ? 'undo' : 'edit' }}</span>
        </button>
        {{ selectedPlant.nickname }} 
          <small *ngIf="selectedPlant.common_name">({{ selectedPlant.common_name }})</small>
      </h2>
      <div class="image-container">
        <img 
          *ngIf="selectedPlant.image_url" 
          [src]="selectedPlant.image_url" 
          alt="{{ selectedPlant.common_name }}" />
      </div>
    </header>
    <form [formGroup]="plantForm" >
    <ul>     
      <li *ngIf="selectedPlant.nickname || editMode">
        <strong>Nickname:</strong>
        <input 
          type="text" 
          [value]="selectedPlant.nickname" 
          formControlName="nickname"
          [class]="editMode ? 'editable' : ''"/>
      </li>
      <li *ngIf="selectedPlant.common_name || editMode">
        <strong>Specie:</strong> 
        <select formControlName="species_id">
          <option *ngFor="let spec of species" [value]="spec.id">{{spec.common_name}}</option>
        </select>
      </li>
      <li *ngIf="selectedPlant.category_name || editMode">
        <strong>Categoria:</strong> 
        {{selectedPlant.category_name}}
      </li>
      <li *ngIf="selectedPlant.sun_exposure_name || editMode">
        <strong>Esposizione:</strong> 
        {{selectedPlant.sun_exposure_name}}
      </li>
      <li>
        <strong>Status:</strong>
        <select formControlName="status_id">
          <option *ngFor="let st of status" [value]="st.id">{{st.name}}</option>
        </select>
      </li>
      <li *ngIf="selectedPlant.planted_date || editMode">
        <strong>Data impianto:</strong>
        <input 
          type="date" 
          [value]="selectedPlant.planted_date | date " 
          formControlName="planted_date"
          [class]="editMode ? 'editable' : ''"/>
      </li>
      <li *ngIf="selectedPlant.last_watering || editMode">        
        <strong>Ultima annaffiatura:</strong>
        <input 
          type="date" 
          [value]="selectedPlant.last_watering | date "
          formControlName="last_watering" /> 
      </li>
      <li *ngIf="selectedPlant.location || editMode">
        <strong>Posizione:</strong>
        <input 
          type="text" 
          [value]="selectedPlant.location" 
          formControlName="location" />
      </li>
      <li *ngIf="selectedPlant.plant_notes || editMode">
        <strong>Note:</strong> 
            <textarea 
              formControlName="notes"
              [class]="editMode ? 'editable' : ''"
              >{{ selectedPlant.notes }}</textarea>
      </li>
      <li *ngIf="editMode">
        <button (click)="savePlant()">          
          <span  class="material-icons">save</span>
        </button>
      </li>
    </ul>
    </form>
    


    <button class="open-calendar-button" (click)="goToTasks()">
      <span class="material-icons">pending_actions</span>
    </button>

    <!-- Pulsante torna alla lista per mobile -->
    <button class="back-button" (click)="deselectPlant()" *ngIf="isMobile">
      <span class="material-icons">arrow_left</span>
    </button>
  </div>

  <button class="fab" (click)="goToSpecies()">
     <span class="material-icons">eco</span>
  </button>

  <!-- Modal aggiunta pianta -->
  <div class="modal" *ngIf="showAddModal">
    <div class="modal-content">
      <h3>Aggiungi pianta</h3>
      <form (ngSubmit)="addPlant()" #plantForm="ngForm">
        <label>Specie</label>
        <select [(ngModel)]="newPlant.species_id" name="species_id" required>
          <option *ngFor="let s of species" [value]="s.id">{{ s.common_name }}</option>
        </select>

        <label>Nickname</label>
        <input type="text" [(ngModel)]="newPlant.nickname" name="nickname" required />

        <label>Data impianto</label>
        <input type="date" [(ngModel)]="newPlant.planted_date" name="planted_date" required />

        <label>Status</label>
        <select [(ngModel)]="newPlant.status" name="status">
          <option *ngFor="let s of status" [value]="s.id">{{s.name}}</option>
         
        </select>

        <label>Posizione</label>
        <input type="text" [(ngModel)]="newPlant.location" name="location" />

        <button type="submit" [disabled]="!plantForm.valid">Salva</button>
        <button type="button" (click)="closeAddPlantForm()">Annulla</button>
      </form>
    </div>
  </div>
</div>



