body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url('./assets/images/background-plants.png'); /* percorso file */
  background-repeat: repeat; /* o no-repeat se preferisci */
  background-size: cover;    /* o contain/repeat a seconda dell'effetto */
  background-attachment: fixed;
  background-color: #f7f7f7; /* fallback colore chiaro pastello */
}


.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px; /* spaziatura simmetrica */
  padding: 20px;
  

  .module-container {
    position: relative;
    width: 40vw;
    height:90vh; /* altezza fissa */
    background: #f9f9f999;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 75px;

   
 
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      overflow-y: auto;
      flex: 1; /* occupa lo spazio rimanente */

      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE e Edge */

      li {
        padding: 11px;
        margin-bottom: 6px;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        &.active {
          background: #e6ffe6;
          border-color: #28a745;
        }
      }
    }

    ul::-webkit-scrollbar {
      display: none; /* Chrome, Safari */
    }


    .open-calendar-button, .add-button, .back-button {
      border: 0; background: #fff;
      border-radius: 50%; width: 40px; height: 40px;
      box-shadow: 0 2px 4px rgba(0,0,0,.15);
      cursor: pointer;
      display: flex; align-items: center; justify-content: center;
    }

    .open-calendar-button {
      position: absolute;
      top: 12px; right: 12px;
    }

    .add-button {
      position: absolute;
      bottom: 12px; right: 12px;
    }

    .back-button {
      position: fixed;
      top: 12px; left: 12px;

    }
/*
    .back-button {
      display: none;
      position:absolute;
      right: 20px;
      width: 56px;
      height: 56px;
      border-radius: 50%;     
      padding: 10px;
      background: #fff;
      border: 1px solid #ddd;
      cursor: pointer;

      &:hover {
        background-color: #ddd;
      }

      .material-icons {
        font-size: 25pt;
      }
    }*/
  }

  .fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #28a745;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    border: none;
    cursor: pointer;
    transition: background 0.2s ease;

    &:hover {
      background-color: #218838;
    }
  }



  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .modal-content {
      background: #fff;
      padding: 20px;
      border-radius: 8px;
      width: 300px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      h3 {
        margin-top: 0;
        text-align: center;
      }

      label {
        font-size: 14px;
        margin-top: 5px;
      }

      input, select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      input {
        width: 95%;
      }

      select, textarea {
        width: 100%;
      }

      button {
        padding: 8px;
        margin-top: 10px;
        border: none;
        border-radius: 4px;
        width: 100%;
        cursor: pointer;


        &:first-of-type {
          background-color: #28a745;
          color: #fff;

          &:hover {           
            background-color: #7cbb7c; 
          }
        }

        &:last-of-type {
          background-color: #ccc;
          
          &:hover {           
            background-color: #eee; 
          }
        }
      }
    }
  }

  
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;

    .module-container {
      width: 90vw;
      
      .back-button {
        display: block;
      }
    }

    .module-container.hidden {
      display: none;
    }


  }

  @media (max-width: 580px) {  

    .module-container {
      width: 80vw;
    }
  }
}
